version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2024.05
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/app.tar
      - add_ssh_keys:
          fingerprints:
            - "SHA256:AiV95e8Wk73OlqNAegu/fBFLg0g28Rcr9rpS2mYsloY"
      - run:
          name: Fix host authenticity for server
          command: ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts

      - run:
          name: Deploy Over SSH
          command: |
              ssh -o "StrictHostKeyChecking no" $SSH_USER@$SSH_HOST "ls -la"
              